// Variables
$linear: to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

body,
html {
  overflow-x: hidden !important;
}

body {
  font-size: 15px;
  background-color: hsl(240, 78%, 98%);
  min-height: 100vh;
}

.bg-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.container {
  text-align: center;
  width: 80%;
  margin: 40px auto;
  z-index: 10000000000;
  position: relative;
  h1 {
    color: hsl(233, 13%, 49%);
  }
  .monthly__annaully {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0 70px;
    p {
      color: hsl(234, 14%, 74%);
    }
    .switcher {
      width: 50px;
      height: 30px;
      background-image: linear-gradient($linear);
      border-radius: 14px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 5px;
      transition: all 0.3s ease-in-out;
      &.start-true {
        justify-content: flex-start;
      }
      &.start-false {
        justify-content: flex-end;
      }
      cursor: pointer;
      .thumb {
        background-color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
  .pricing-cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    place-items: center;
    .pricing-cards__container__card {
      padding: 20px;
      background-color: white;
      box-shadow: -1px 1px 7px 1px hsl(234, 14%, 74%);
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 390px;
      max-width: 340px;
      height: 428px;
      position: relative;

      &:nth-child(2) {
        z-index: 1000;
        height: 478px;
        background-image: linear-gradient($linear);
        .pricing-cards__container__card-title {
          color: white;
        }
        .pricing-cards__container__card-price {
          color: white;
        }
        .pricing-cards__container__card-list-item {
          color: white !important;
          &::before,
          &::after {
            background-color: white !important;
          }
        }
        .pricing-cards__container__card-button {
          background: white !important;
          color: hsl(237, 63%, 64%);
          margin-top: 46px;
        }
      }

      .pricing-cards__container__card-title {
        color: hsl(233, 13%, 49%);
      }
      .pricing-cards__container__card-price {
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: hsl(232, 13%, 33%);
        margin: 20px 0;
        span {
          font-size: 30px;
        }
      }
      .pricing-cards__container__card-list {
        list-style: none;
        width: 80%;
        .pricing-cards__container__card-list-item {
          position: relative;
          line-height: 3;
          &::before {
            content: "";
            position: absolute;
            top: -5px;
            background-color: hsl(233, 13%, 49%);
            width: 100%;
            height: 1px;
            left: 0;
          }
          &:last-child:after {
            content: "";
            position: absolute;
            bottom: -5px;
            background-color: hsl(233, 13%, 49%);
            width: 100%;
            height: 1px;
            left: 0;
          }
          color: hsl(233, 13%, 49%);
          margin: 10px 0;
        }
      }
      .pricing-cards__container__card-button {
        background-image: linear-gradient($linear);
        color: white;
        border: none;
        outline: none;
        padding: 15px;
        width: 80%;
        border-radius: 10px;
        margin-top: 20px;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
